/*https://www.color-hex.com/color-palette/47605*/
$text-background-color-Hover: rgb(150, 167, 187);


$text-background-color: #c8d9ed;
$text-color:            #e1f1fd;
$text-color-Reverse:    #181818;
$secondary-color:       #c1d8f0;
$primary-color:         #4663ac;
$accent-color: 	        #d2deeb;

$border-radius: 8px;