/*https://www.color-hex.com/color-palette/47605*/



$text-background-color:#c8d9ed;
$text-color:#e1f1fd;
$secondary-color:#c1d8f0;
$primary-color:#4663ac;
$accent-color: 	#d2deeb;

$border-radius: 8px;