/**
 * Home Page Styles
* Colors:
    * 	rgb(210,222,235)
    *   rgb
*/

body
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 98vh;
    width: 98.5vw;
    background-color: white
}