@use '../../../styles/variables' as vars;

body
{
    display: flex;
    flex-direction: row;
    height: 98vh;
    width: 98.5vw;
    background-color: vars.$accent-color;
}
aside 
{
    width: 10vw;
    background-color: vars.$secondary-color;

}
.content 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: vars.$primary-color;
}
mat-card 
{
    background-color: vars.$text-background-color;
    color: vars.$text-color-Reverse;
    border-radius: vars.$border-radius;
    margin: 10px;
    padding: 10px;
    width: 60vw;
}