@use '../../../styles/variables' as vars;

body
{
    display: flex;
    flex-direction: row;
    height: 98vh;
    width: 98.5vw;
    background-color: vars.$accent-color;
}
aside 
{
    display: flex;
    flex-direction: column;
    width: 10vw;
    background-color: vars.$secondary-color;
    & button 
    {
        border: 2px solid vars.$text-color-Reverse;
        border-color: vars.$primary-color;
        margin: 10px;
    }
}
.content 
{
    width: 73vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: vars.$primary-color;
}


mat-list
{
    background-color: vars.$text-background-color;
    color: vars.$text-color-Reverse;
    border-radius: vars.$border-radius;
    margin: 10px;
    padding: 10px;
    width: 60vw;
}
mat-selection-list
{
    max-height: 95vh;
    overflow: auto;
    background-color: vars.$text-background-color;
    color: vars.$text-color-Reverse;
    border-radius: vars.$border-radius;
    margin: 10px;
    padding: 10px;
    width: 95%;
}

.item
{
display: flex;
flex-direction: row;
align-items: center;
justify-content: baseline;
}
.item:hover
{
    background-color: vars.$text-background-color-Hover;
    color: vars.$text-color-Reverse;
    border-radius: vars.$border-radius;
}

.optionsButton 
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    max-width: 24px;
    height: 24px;
    max-height: 24px;
    border: 3px solid transparent; 
    background: transparent;

  mat-icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 18px;
    line-height: 1;
  }

    &:hover 
    {
        border: solid rgba(0,0,0,0.3);
        border-radius: 25%;
    }
}
