<body>
  <aside class="aside1">
    <button mat-raised-button>datei explorer</button>
    <button mat-raised-button>Verlauf</button>
    <button mat-raised-button>Konfiguration</button>
  </aside>
    <input
  #fileInput
  type="file"
  (change)="onFileSelected($event)"
  multiple
  style="display: none"
/>

  <div class="content">
    <mat-selection-list #Files> 

<div mat-subheader>datei explorer</div>
      <mat-divider></mat-divider>

      <ng-container *ngFor="let file of testFiles">

          <div class="item">
            <ng-container *ngIf="fileTypeIcons[file.type]; else otherIcon">
              <mat-icon>{{ fileTypeIcons[file.type] }}</mat-icon>
            </ng-container>

            <ng-template #otherIcon>
              <mat-icon>{{ fileTypeIcons['other'] }}</mat-icon>
            </ng-template>

            <mat-list-option [value]="file.id">
              <span matListItemTitle>{{ file.name }}</span>
              <span matListItemLine>{{file.size}} Byte</span>
            </mat-list-option>
            <button matButton class="optionsButton" alt="">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>


      </ng-container>


      </mat-selection-list>
  </div>
<ng-template #loading>
  Lade Dateien...
</ng-template>

<aside class="aside2">
<p>
  Options selected: {{Files.selectedOptions.selected.length}}
</p>
<div>IDs: {{ selectedIds }}</div>

    <button mat-raised-button (click)="fileInput.click()" color="primary">Upload</button>

    <button mat-raised-button (click)="this.downloadQueue(selectedIds)" >Runterladen</button>

    <button
  mat-raised-button
  (click)="deleteQueue(selectedIds)"
  [color]="wantDelete ? 'warn' : 'primary'"
>
  {{ wantDelete ? 'Löschen?' : 'Löschen' }}
</button>

  </aside>
  </body>
