@use '../../../styles/variables' as vars;
$widthOfContent:25vw;
$heightOfContent:5vh;
body
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 98vh;
    width: 98.5vw;
    background-color: vars.$accent-color;
}
.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50vw;
    background-color: vars.$primary-color;
    transition: transform 0.3s ease; 
            .LoginBox
            {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            height: 50vh;
            width: 30vw;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
}
.content.hidden 
{
  transform: translateX(100%);       // schiebt es komplett aus dem Screen
}
.baseLine
{
width: 25%;
display: flex;
align-items: center;
justify-content: space-between;    
}
.MainButton
{
    width: $widthOfContent;
    height: $heightOfContent;
    background-color: vars.$primary-color;
    mat-icon,div
    {
        color: vars.$text-color;
    }

}
input
{
    width: $widthOfContent;
    height: $heightOfContent;
    border-radius: vars.$border-radius;
    border: 1px solid vars.$secondary-color;
    padding-left: 10px;
}
.MainIcon
{
    position: relative;
    bottom:30px;
    scale: 4;
    color:vars.$text-background-color;
}
.MainIconMikuText
{
    position: relative;
    top:30px;
    z-index:99999;
    color: 	#006bff;
}